<mat-card>
  <mat-card-title>{{ team1 }} vs. {{ team2 }}</mat-card-title>
  <mat-card-subtitle>{{ type }} Match : {{ inningNo }}</mat-card-subtitle>

  <mat-card-content>
      <div class="example-button-row">
          <button mat-fab>Basic</button>
          <button mat-fab color="primary">Primary</button>
          <button mat-fab color="accent">Accent</button>
          <button mat-fab color="warn">Warn</button>
          <button mat-fab disabled>Disabled</button>
          <button mat-fab aria-label="Example icon-button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <a mat-fab routerLink=".">Link</a>
        </div>
        
  </mat-card-content>
</mat-card>