<mat-card>
  <mat-card-title>Add Team</mat-card-title>
  <mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter Team Name</ng-template>
        <mat-form-field style="width: 100%;">
          <input matInput placeholder="Team Name" required/>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <mat-label>Select Company</mat-label>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-raised-button color="accent" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Enter Number of Team Members</ng-template>
        <mat-form-field style="width: 100%;">
          <input matInput type="number" placeholder="Number of Members" required/>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-raised-button color="accent" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>

      <mat-card>
        <mat-card-subtitle>Review Your Details.</mat-card-subtitle>
        <mat-card-content>
          <p>Team Name:</p>
          <p>Company Name:</p>
          <p>No of Members:</p>
        </mat-card-content>
        <mat-card-actions>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Submit</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
